In [7]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt

In [8]:
blog = pd.read_csv("blog.csv")
opensource = pd.read_csv("opensource.csv")
solothought = pd.concat([blog,opensource],keys=['blog','OpenSource'],names=['Type','idx'])

# convert to boolean
solothought["featured"] = solothought["featured"].apply(lambda x: True if x == 'y' else False)
solothought

                                                            title    category  \
Type       idx
blog       0                                       Better SEO URL        info
           1                   Jekyll setup with VScode container    tutorial
           2                        Fast XML Parser v4.2 features        info
           3                          Story of Kungfu Java Valley    tutorial
           4            Story of Kungfu Java Valley - Explanation    tutorial
           5                 Chapter 2: The Preparation of Battle    tutorial
           6    Amir Wishu Sehgal cafe: The story of opportuni...    tutorial
           7                        Python List - Quick Reference    tutorial
           8                      Python Method - Quick Reference    tutorial
           9    System Design to secure OTP from Eavesdropping...  philosophy
OpenSource 0                                               imglab     product
           1                                      fast-xml-parser     library
           2                                              bigbyte    research
           3                                                 nimn    research
           4                                             match-it     product

                                            tags   views  featured  \
Type       idx
blog       0             web-development|mindmap   350.0     False
           1    web-development|github|bitbucket    85.0     False
           2                      opensource|npm  1230.0     False
           3                  java|story-telling   780.0      True
           4                  java|story-telling   310.0     False
           5                  java|story-telling   640.0      True
           6            aws|story-telling|clouds  1331.0      True
           7                              python    14.0     False
           8                              python     NaN     False
           9                       system-design    78.0      True
OpenSource 0     machine-learning|image|labeling     NaN      True
           1                             npm|xml     NaN      True
           2                  data-type|encoding     NaN      True
           3                           data-type     NaN      True
           4                                game     NaN     False

                        uses
Type       idx
blog       0             NaN
           1             NaN
           2             NaN
           3             NaN
           4             NaN
           5             NaN
           6             NaN
           7             NaN
           8             NaN
           9             NaN
OpenSource 0    9.500000e+06
           1    7.875000e+09
           2    3.500000e+03
           3    2.400000e+06
           4    7.200000e+04

In [11]:
l = list(["1 Apr 2023", "2 Apr 2023",None,None,None,None,None,None,None,None,None,None,None,None,None]) 
st = solothought.assign(**{"published on":l})
st

In [12]:
solothought.head()
solothought.tail()
solothought.sample(3,weights="views")

                                                      title  category  \
Type idx
blog 3                          Story of Kungfu Java Valley  tutorial
     6    Amir Wishu Sehgal cafe: The story of opportuni...  tutorial
     2                        Fast XML Parser v4.2 features      info

                              tags   views  featured  uses
Type idx
blog 3          java|story-telling   780.0      True   NaN
     6    aws|story-telling|clouds  1331.0      True   NaN
     2              opensource|npm  1230.0     False   NaN

In [13]:
# grp = solothought.groupby("category")
grp = solothought.groupby(["category","tags"])
# grp.get_group("library")
# grp.size()
# grp.filter(lambda x: x["views"].max() > 1300)
# grp.filter(lambda x: x["featured"].sum() > 1)
# grp["featured"].sum()
# grp["views"].max()
# grp.first()
# grp.last()
# solothought.groupby("featured").count()
# grp.transform(lambda x: "Fixed value")
df = grp.agg({
  "views":["count","mean"],
  "uses":["count","mean"]
})
df

                                            views               uses  \
                                            count         mean count
category   tags
info       opensource|npm                       1  1230.000000     0
           web-development|mindmap              1   350.000000     0
library    npm|xml                              0          NaN     1
philosophy system-design                        1    78.000000     0
product    game                                 0          NaN     1
           machine-learning|image|labeling      0          NaN     1
research   data-type                            0          NaN     1
           data-type|encoding                   0          NaN     1
tutorial   aws|story-telling|clouds             1  1331.000000     0
           java|story-telling                   3   576.666667     0
           python                               1    14.000000     0
           web-development|github|bitbucket     1    85.000000     0


                                                     mean
category   tags
info       opensource|npm                             NaN
           web-development|mindmap                    NaN
library    npm|xml                           7.875000e+09
philosophy system-design                              NaN
product    game                              7.200000e+04
           machine-learning|image|labeling   9.500000e+06
research   data-type                         2.400000e+06
           data-type|encoding                3.500000e+03
tutorial   aws|story-telling|clouds                   NaN
           java|story-telling                         NaN
           python                                     NaN
           web-development|github|bitbucket           NaN

In [162]:
solothought[["views","uses"]]

                 views          uses
Type       idx
blog       0     350.0           NaN
           1      85.0           NaN
           2    1230.0           NaN
           3     780.0           NaN
           4     310.0           NaN
           5     640.0           NaN
           6    1331.0           NaN
           7      14.0           NaN
           8       NaN           NaN
           9      78.0           NaN
OpenSource 0       NaN  9.500000e+06
           1       NaN  7.875000e+09
           2       NaN  3.500000e+03
           3       NaN  2.400000e+06
           4       NaN  7.200000e+04